<!-- Utterances Comments -->
<script src="/home/marcel/Koofr/Private/Website-github-clone/src/utterances/client.ts"
        repo="MarcelKoeberlin/knowledge"
        issue-term="pathname"
        theme="gruvbox-dark"
        crossorigin="anonymous"
        async>
</script>

